<% include ../partials/_header.ejs %>

<div class="container-fluid">
	<div class="row">
		<div class="col limelight-white-text" id="hbo-title">
			<h1>Here's What Yer Watchin'!</h1>
		</div>
	</div>


	<form method="post" action="/movies">
		<div id = "randmovie">
			<div class="poirot-white-text-rgba">
				<input type="text" name="description" placeholder="<%=movieSelected.overview%>"/>
				<p name="title"> <%=movieSelected.title%><br>
				
				<img src="http://image.tmdb.org/t/p/w500///<%=movieSelected.poster_path%>" name="poster"/>
				<%=movieSelected.tagline%>
			</div>
		</div>

		<div class = "btn-group">
			<p> Did you like this movie? <p>
			<button type="submit">Add to Database</button>
		</div>
	</form>	
   

<div class = "btn-group">
   <a href="/selector/pick"><button type = "button" class = "btn btn-default">Not So Lucky?</button></a>
   
   
</div>
<div class="row" id="landing-links-movies-users">
	<div class="col-6 poirot-text movie-link">
		<p> View Movies Others Have Suggested </p>
		<a href="/movies/">Movies</a>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="footer">
        <p style="align: right">Which?_Flix</p>
      </div>
    </div>  
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>







<!-- //  <div class = "btn-group">
//    <a href="/pick"><button type = "button" class = "btn btn-default">FEEL LUCKY, DO YA?</button></a>
   
   
// </div>

// <div id = "randmovie">
//     <%=movieSelected.title%>

//     <img src="http://image.tmdb.org/t/p/w500///<%=movieSelected.poster_path%>"/>

// </div>

 -->