<% include ../partials/_header.ejs %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 limelight-text"
				<h1> <%= movie.title %> </h1>
			</div>
			<div class="col-12" id="show-movie-details">	<img src="<%=movie.poster%>">
				<section class="poirot-black-text">
					<div class="row">
						<div class="col-5 movie-details"> Title: </div>
						<div class=" movie-details col-7"> <%= movie.title%> </div> 
					</div>
					<div class="row">
						<div class="col-5 movie-details"> Genre:</div>
						<div class="col-7 movie-details"> <%= movie.genre%></div> 
					</div>
					<div class="row">
						<div class="movie-details col-5"> Stars: </div>
						<div class=" movie-details col-7"> <%= movie.stars%> </div>
					</div>
					<div class="row">
						<div class="movie-details col-5">Director: </div>
						<div class="movie-details col-7"> <%= movie.director%> </div> 
					</div>
					<div class="row">
						<div class="movie-details col-5">Rating:</div> 
						<div class=" movie-details col-7"><%= movie.rating%> </div>
					</div>
					<div class="row">
						<div class="movie-details col-5">Description:</div> 
						<div class=" movie-details col-7"><%= movie.description%> </div>
					</div>
				</section>
			</div>
		</div>
		<div class="row links poirot-text">	
			<a href="/movies/<%=movie.id%>/edit"><button> Edit This Movie</button> </a>	
		</div>
		</div>
	<div class="footer">
        <p style="align: right">.</p>
     </div>
</body>
</html>