<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1> PROJECT 2 </h1>
		<nav>
			<a href="/movies"> Index </a>
			<a href="/index"> Home </a>
			<a href="/users"> Users </a>
		</nav>
	</header>
	<main>
	<h1> <%= movie.title %> </h1>

	<img src="<%=movie.poster%>">

	<section>

		Title: <%= movie.title%>  
		
		Genre: <%= movie.genre%> 

		Stars: <%= movie.stars%> 

		Director: <%= movie.director%> 
		
		Rating: <%= movie.rating%> 
	</section>

	<a href="/movies/<%=movie.id%>/edit"> Edit This Movie </a>	
	


</body>
</html>