<% include ../partials/_header.ejs %>
<div class="container-fluid">
	<div class="row">
		<div class="col-12"	
		<p> Edit Your Profile Page </p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<img src="<%=user.profilePic%>">
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<form method="POST" action="/users/<%=user.id%>?_method=PUT">
			<div class="row">
				<div class = "col-3">	
					username:
				</div> 
				<div class = "col-6">
					<input type="text" name="username" placeholder = "<%=user.username%>" >
				</div>
				<div clas="col-3">
					email: 
				</div>
				<div>	
					<input type="text" name="email" placeholder = "<%=user.email%>" placeholder = "<%=user.email%>">
				</div>
				<div class="col-3">
			  	profile picture: 
			  	</div>
			  	<div class="col-6">
				  	<input type="text" name="profilePic" placeholder = "<%=user.profilePic%>">
				</div>
				<div class="col-3">
			  		Favorite Genre: 
			  	</div>
				  	<input type="text" name="favoriteGenre" placeholder = "<%=user.favoriteGenre%>">
				<div class="col-3">
					Favorite Director:  
				</div>	
				<input type="text" 
				name="favoriteDirector" placeholder = "<%=user.favoriteDirector%>">

				Favorite Movie: <input type="text" name="favoriteMovie" placeholder = "<%=user.favoriteMovie%>">

				Favorite Actor: <input type="text" name="favoriteActor" placeholder = "<%=user.favoriteActor%>">

			  	<button type="submit"> Save <%=user.username%></button>
			</form> 
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<form method="POST" action="/users/<%=user.id%>?_method=DELETE">
					<button type="submit" value="Delete Account" name="delete"> Delete Your Account</button>
			</form>
			<a href="/logout">Logout</a>
		</div>
	</div>
</div>	
</body>
</html>
</body>
</html>