<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p> <%=req.user.displayName%> </p> 

	<img src="<%=user.profilePic%>"><br>
	
	display name : <%=user.displayName %><br>
	username: <%=user.username%><br>
	email: <%=user.email%><br>
  	Favorite Genre: <%=user.favoriteGenre%><br>
	Favorite Director:  <%=user.favoriteDirector%><br>
	favoriteMovie: <%=user.favoriteMovie%><br>
	favoriteActor: <%=user.favoriteActor%><br>
  	Movies Added To The Database: PlaceHolder <br>
  	Movie Recommendations History: PlaceHolder <br>
	

	
</body>
</html>

